body {
   font-size: 32px;
   font-family: consolas;
   margin: 0;
   overflow: hidden;
}

.game-section {
   display: flex;
   flex-direction: column;
}
.game-area {
   position: relative;
   background: rgb(61, 160, 244);
   background: linear-gradient(
      0deg,
      rgba(61, 150, 244, 1) 0%,
      rgba(192, 221, 246, 1) 33%,
      rgba(55, 157, 244, 1) 100%
   );
   width: 100dvw;
   height: calc(100dvh - 40px);
   margin: 0;
}

.game-start {
   position: absolute;
   width: 30%;
   background: rgb(235, 253, 153);
   border-radius: 30px;
   top: 40%;
   align-self: center;
   z-index: 2;
   text-align: center;
   padding: 30px;
   cursor: pointer;
}

.game-over-container {
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.game-over {
   width: 30%;
   background: rgba(230, 40, 2, 80%);
   border-radius: 30px;
   z-index: 99;
   text-align: center;
   padding: 30px;
}

.try-again {
   width: 10%;
   color: white;
   background: rgb(0, 102, 226);
   border-radius: 30px;
   z-index: 99;
   text-align: center;
   padding: 10px;
   margin: 1dvh;
   cursor: pointer;
}

.game-score {
   background: black;
   color: white;
   text-align: center;
   height: 40px;
}

.game-stats {
   background: black;
   color: white;
   text-align: center;
}

.hide {
   display: none;
}

.wizard {
   z-index: 20;
   position: absolute;
   width: 82px;
   height: 100px;
   background-image: url('./images/wizard.png');
   background-size: cover;
}

.wizard-fire {
   background-image: url('./images/wizard-fire.png');
   background-size: cover;
}

.fire-ball {
   position: absolute;
   width: 40px;
   height: 40px;
   z-index: 5;
   background-image: url('./images/fire-ball.png');
   background-size: cover;
}

.cloud {
   z-index: 1;
   position: absolute;
   width: 200px;
   height: 200px;
   background-image: url('./images/cloud.png');
   opacity: 50%;
   background-size: cover;
}

.bugs {
   z-index: 5;
   position: absolute;
   width: 60px;
   height: 60px;
   background-image: url('./images/bug.png');
   background-size: cover;
}
